NEXT_PUBLIC_WEBSOCKET_URL=
NEXT_PUBLIC_API_URL=http://localhost:8000
IMAGE_GEN_API=
IMAGE_GEN_API_KEY=
RESEND_API_KEY=
RESEND_AUDIENCE_LIST_ID=
RESEND_FROM_EMAIL=
FAL_KEY=
NEXT_PUBLIC_VIDEO_API_URL=http://localhost:5002/
